In [12]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,text
from collections.abc import Iterable
from collections.abc import Callable

In [9]:
def connect_maria(db_name:str):
    """
    Connecte une base de données MariaDB via SQLalchemy
    """
    user="root"
    pwd=""
    host="localhost"
    port="3306"
    return sqlalchemy.create_engine(
        f"mariadb+pymysql://{user}:{pwd}@{host}:{port}/{db_name}")

In [10]:
engine = connect_maria("crime")

In [13]:
# Utilisation de l'engine pour obtenir une connexion et exécuter une requête
with engine.connect() as connection:
    result = connection.execute(text("SHOW TABLES"))
    tables = result.fetchall()
    for table in tables:
        print(table)

('outcomes_temp',)
('outcomes_temp_duplicates',)
('stopandsearch_temp',)
('stopandsearch_temp_duplicates',)
('street_temp',)
('street_temp_duplicates',)

In [ ]:
query = """
    SELECT Latitude, Longitude, Crimetype
    FROM street_temp
    WHERE latitude IS NOT NULL AND longitude IS NOT NULL;
"""
try:
    # Utilisation de l'engine pour exécuter la requête
    df = pd.read_sql(query, engine)

    
except Exception as e:
    st.error(f"Erreur lors de l'exécution de la requête SQL : {e}")

In [4]:
engine.dispose()