In [1]:
import mysql.connector
from mysql.connector import Error

# Connexion à MariaDB
def create_connection(host_name, user_name, user_password, db_name=None):
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name
        )
        print("Connexion réussie à la base de données MariaDB")
        return connection
    except Error as e:
        print(f"Erreur : '{e}'")
        return None

# Création de la base de données
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Base de données créée avec succès")
    except Error as e:
        print(f"Erreur : '{e}'")

# Création d'une table
def create_table(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Table créée avec succès")
    except Error as e:
        print(f"Erreur : '{e}'")

# Insertion de données dans la table
def insert_data(connection, query, values):
    cursor = connection.cursor()
    try:
        cursor.executemany(query, values)
        connection.commit()
        print(f"{cursor.rowcount} enregistrements insérés")
    except Error as e:
        print(f"Erreur : '{e}'")

# Exemple d'utilisation
if __name__ == "__main__":
    # Connexion au serveur MariaDB
    connection = create_connection("localhost", "root", "your_password")

    # Création d'une base de données
    create_database_query = "CREATE DATABASE IF NOT EXISTS test_db"
    create_database(connection, create_database_query)

    # Connexion à la base nouvellement créée
    connection = create_connection("localhost", "root", "")

    # Création d'une table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        age INT,
        gender VARCHAR(10),
        nationality VARCHAR(100)
    );
    """
    create_table(connection, create_table_query)

    # Insertion de données
    insert_query = """
    INSERT INTO users (name, age, gender, nationality) 
    VALUES (%s, %s, %s, %s)
    """
    users = [
        ("John", 28, "Male", "USA"),
        ("Anna", 22, "Female", "Canada"),
        ("Mike", 32, "Male", "UK")
    ]
    insert_data(connection, insert_query, users)

    # Fermer la connexion
    if connection.is_connected():
        connection.close()
        print("Connexion MariaDB fermée")

Erreur : '1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)'

AttributeError: 'NoneType' object has no attribute 'cursor'